<template>
    <div v-if="pockets.length && Object.keys(deposits).length">
        <table>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th v-for="pocket in pockets" :key="pocket.id">{{ pocket.name }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="month in months" :key="month">
              <td>{{ month }}</td>              
              <td v-for="pocket in pockets" :key="`${pocket.id}-${month}`">
                <input type="number" v-model="deposits[pocket.id][month]">
              </td>
            </tr>
          </tbody>
        </table>

        <button type="submit" @click="save" >Mentés</button>
        <button type="submit" @click="download">Download</button>
    </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import { onMounted } from '@vue/runtime-core';
import PocketService from '@/services/pocket.service';
import DepositService from '@/services/deposit.service';
import DateService from '@/services/date.service';

export default {
  name: 'Deposits',

  setup() {
    const pockets = ref([]);
    const months = ref([]);
    const deposits = ref({});
    const pocketService = new PocketService();
    const depositService = new DepositService();
    const dateService = new DateService();

    onMounted(async () => {
      pockets.value = await pocketService.getAll();
      deposits.value = depositService.convertToGridData(
        await depositService.getAll(), 
        pockets.value
      );
    });

    months.value = dateService.getMonths();

    const save = async () => {
      await depositService.save(deposits.value);
    };

    const download = async () => {
      await depositService.download();
    };

    return {
      pockets,  
      months,
      deposits,
      save,
      download
    };
  }
}
</script>
